<!DOCTYPE html>
%html
  %head
    %title Live Iterations1.2
    = haml :styles
    = haml :scripts
    = haml :jstemplates
  %body
    = haml :header
    #mainContainer
    = haml :'jstemplates/storyboard'
    = haml :'jstemplates/epicstoryboard'
    = haml :'jstemplates/editableEpicStoryDlg'
    = haml :'jstemplates/editableStoryDlg'
    = haml :'jstemplates/epicStoryBoard'
    = haml :'jstemplates/epicStoryTemplate'
    = haml :'jstemplates/growlContainer'
    = haml :'jstemplates/newEpicDlg'
    = haml :'jstemplates/newStoryDlg'
    = haml :'jstemplates/story'
    #lightBoxContent.editableNote